//- content-header
div(class='content-header')
    div(class='container-fluid')
        div(class='row mb-2')
            div(class='col-sm-12')
                ol(class='breadcrumb')
                    li(class='breadcrumb-item') #{main}
                    li(class='breadcrumb-item active')  #{sub}