//- footer
footer(class='main-footer')
    strong Copyright &copy; 2020 
        a(href='https://www.nextedition.co.kr/') Next-edition
    div(class='float-right d-none d-sm-inline-block')
        b Version 1.0