//- sidebar
aside(class='main-sidebar elevation-4 sidebar-light-navy')
    a(class='brand-link navbar-light text-center', href='/')
        span(class='brand-text')
            img(src='/images/campingagain_logo_black.svg', style="width:50%")
    div(class='sidebar')
        div(class='user-panel mt-3 pb-3 mb-3 d-flex')
            div(class='image')
                img(class='img-circle elevation-2', src='/images/user-160x160.jpg')
            div(class='info')
                
        //- nav(class=`mt-2 ${session.auth_code!="10010"?"d-none":""}`)
        nav(class=`mt-2`)
            ul(class='nav nav-pills nav-sidebar flex-column', data-widget='treeview', role='menu', data-accordion='false')
                li(class='nav-item has-treeview')
                    a(class='nav-link')
                        i(class='nav-icon fas fa-home')
                        p 홈
                            i(class='right fas fa-angle-left')
                    ul(class='nav nav-treeview')
                        li(class='nave-item')
                            a(class='nav-link', href='/home/main')
                                i(class='far fa-circle nav-icon')
                                p 대시보드(통계)
                    
                
                