doctype html
html
    head(lang='en')
        title= 'camping-again'
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        link(rel='stylesheet', href='/stylesheets/style.css')
        //- Font Awesome Icons
        link(rel='stylesheet', href='/plugins/fontawesome-free/css/all.min.css')
        //- IonIcons
        link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
        //- SweetAlert2
        link(rel='stylesheet', href='/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css')
        //- Daterange Picker
        link(rel='stylesheet', href='/plugins/daterangepicker/daterangepicker.css')
        //- iCheck for checkboxes and radio inputs
        link(rel='stylesheet', href='/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
        //- DataTables
        link(rel='stylesheet', href='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')
        link(rel='stylesheet', href='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')
        //- fullCalendar
        link(rel="stylesheet" href='/plugins/fullcalendar/main.min.css')
        link(rel="stylesheet" href='/plugins/fullcalendar-daygrid/main.min.css')
        link(rel="stylesheet" href='/plugins/fullcalendar-timegrid/main.min.css')
        link(rel="stylesheet" href='/plugins/fullcalendar-bootstrap/main.min.css')
        //- Theme style
        link(rel='stylesheet', href='/stylesheets/adminlte.min.css')        
        //- Google Font: Source Sans Pro
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700')

    body(class='hold-transition login-page')
        div(class='login-box')
            div(class='card')
                div(class='card-body login-card-body')
                    p(class='login-box-msg') 엑셀 테스트
                    div(class='row pt-3 border-top')
                        div(class='col-12')
                            button(type='button' class='btn btn-default btn-block' id="download") 다운로드
    block scripts
        //- jQuery
        script(src='/plugins/jquery/jquery.min.js')
        //- Bootstrap
        script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
        //- AdminLTE
        script(src='/js/adminlte/adminlte.js')
        //- OPTIONAL SCRIPTS
        script(src='/js/adminlte/dashboard3.js')
        //- SweetAlert2
        script(src='/plugins/sweetalert2/sweetalert2.min.js')
        //- Date Range Picker
        script(src='/plugins/moment/moment.min.js')
        script(src='/plugins/daterangepicker/daterangepicker.js')
        //- jQuery slimScroll
        script(src='/plugins/jQuery-slimScroll/jquery.slimscroll.min.js')
        //- DataTables
        script(src='/plugins/datatables/jquery.dataTables.min.js')
        script(src='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')
        script(src='/plugins/datatables-responsive/js/dataTables.responsive.min.js')
        script(src='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')
        //- fullCalendar 2.2.5            
        script(src='/plugins/fullcalendar/main.min.js')
        script(src='/plugins/fullcalendar-daygrid/main.min.js')
        script(src='/plugins/fullcalendar-timegrid/main.min.js')
        script(src='/plugins/fullcalendar-interaction/main.min.js')
        script(src='/plugins/fullcalendar-bootstrap/main.min.js')
        //- Daum Address Search
        script(src='https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js')
        script(src='/js/apiCall.js')
        script(src='/js/inpFile.js')
        script(src='https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js')
    
    script.
        //- alert setting    
        const Toast = Swal.mixin({   
            //- toast: true,
            //- position: 'top-end',
            showConfirmButton: false,
            timer: 2000
        });
        const Confirm = Swal.mixin({        
            showConfirmButton: true,
            //- showCloseButton: true,
            focusDeny:true,
            showCancelButton: true,
            confirmButtonText: '확인',
            cancelButtonText: '취소',
            customClass: {
                confirmButton: 'btn btn-primary btn-lg',
                cancelButton: 'btn btn-default btn-lg ml-2'
            },
            buttonsStyling: false
        });

        //엑셀 다운로드
        $('#download').on('click', function(ev) {
            const url = `/test/excel`;
            $.ajax({
                type:"POST",
                url:url,
                header:{
                    "Content-Type":"application/x-www-form-urlencoded; charset=UTF-8"
                },
                xhrFields:{
                    responseType: 'blob'
                },
                success:function(r){
                    console.log(r)
                    if(r){
                        const downloadUrl = window.URL.createObjectURL(r)
                        const a = document.createElement("a");
                        a.href = downloadUrl;
                        a.download = "sample_data.xlsx";
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(downloadUrl)
                    } else {
                        alert('네트워크 오류가 발생했습니다')
                        return;
                    }
                }
            })
            
        });   

    


                    