doctype html
html
    head(lang='en')
        title= 'camping-again'
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        link(rel='stylesheet', href='/stylesheets/style.css')
        //- Font Awesome Icons
        link(rel='stylesheet', href='/plugins/fontawesome-free/css/all.min.css')
        //- IonIcons
        link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
        //- SweetAlert2
        link(rel='stylesheet', href='/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css')
        //- Daterange Picker
        link(rel='stylesheet', href='/plugins/daterangepicker/daterangepicker.css')
        //- iCheck for checkboxes and radio inputs
        link(rel='stylesheet', href='/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
        //- DataTables
        link(rel='stylesheet', href='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')
        link(rel='stylesheet', href='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')
        //- fullCalendar
        link(rel="stylesheet" href='/plugins/fullcalendar/main.min.css')
        link(rel="stylesheet" href='/plugins/fullcalendar-daygrid/main.min.css')
        link(rel="stylesheet" href='/plugins/fullcalendar-timegrid/main.min.css')
        link(rel="stylesheet" href='/plugins/fullcalendar-bootstrap/main.min.css')
        //- Theme style
        link(rel='stylesheet', href='/stylesheets/adminlte.min.css')        
        //- Google Font: Source Sans Pro
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700')

    body(class='hold-transition register-page')
        div(class='register-box')
            div(class='login-logo')                
                strong 캠지기 회원가입                                            
            div(class='card')
                ul(class='nav nav-tabs nav-justified')
                    li(class='nav-item' name='register-step-tab')
                        a(class='nav-link active') 약관 & 정책동의            
                    li(class='nav-item bg-light' name='register-step-tab')
                        a(class='nav-link') 정보입력                        
                div(class='card-body')
                    //- Step01
                    form(class='mt-3' method='post' id='termsForm')
                        ul(class='list-group list-group-flush mb-3')
                            li(class='list-group-item bg-secondary')
                                div(class='form-group m-0')
                                    div(class='icheck-primary')
                                        input(type='checkbox' id='allCheck')
                                        label(for='allCheck') 모두 동의
                            li(class='list-group-item mt-2 border-0')
                                div(class='form-group m-0 d-flex')
                                    div(class='icheck-primary flex-grow-1')
                                        input(type='checkbox' id='term01' name='termsCheck')
                                        label(for='term01') 1. 캠핑어게인 캠지기 이용약관 (필수)
                                    button(type='button' class='btn btn-secondary btn-sm' onclick="window.open('https://docs.google.com/document/d/153wp6KQF8d0GlGfK7cqROgGUe8WAQVflaRtisNP2j7o/edit?usp=sharing', '_blank')") [내용보기]
                            li(class='list-group-item border-0')
                                div(class='form-group m-0 d-flex')
                                    div(class='icheck-primary flex-grow-1')
                                        input(type='checkbox' id='term02' name='termsCheck')
                                        label(for='term02') 2. 캠핑어게인 개인정보 처리방침 (필수)
                                    button(type='button' class='btn btn-secondary btn-sm' onclick="window.open('https://docs.google.com/document/d/1qiM9HAgnaOWINEGFYodZbfYD33R9mV1WMd3FdJAxFr4/edit?usp=sharing', '_blank')") [내용보기]
                            li(class='list-group-item border-0')                
                                div(class='form-group m-0 d-flex')
                                    div(class='icheck-primary flex-grow-1')
                                        input(type='checkbox' id='term03' name='termsCheck')
                                        label(for='term03') 3. 이벤트/마케팅 수신 동의 (선택)
                                    button(type='button' class='btn btn-secondary btn-sm' id='modalOpenBtn') [펼쳐보기] 
                        div(class='row pt-3 border-top')
                            form(class='d-none' method='post' id='exceltestForm')
                                div(class='col-6')
                                    input(type="file", name='excel_test', class='d-none', accept='.csv', id='excel_test')
                                    button(type='button',class='btn btn-outline-dark mappingExcel', id="uploadTestCsv") 엑셀업로드
                                //- button(type='button' class='btn btn-primary btn-block' id='nextStepBtn') 다음
                                button(type='button',class='btn btn-outline-dark mappingExcel', id="uploadTestCsvSend") 엑셀보내기
                            div(class='col-6')
                                button(type='button' class='btn btn-default btn-block' onclick="location.href='/'") 취소

                    //- Step02
                    form(class='d-none' method='post' id='userInfoForm')
                        ul(class='list-group list-group-flush mb-3' id='userInfoList')
                            li(class='list-group-item')                                
                                h6 가입정보
                                div(class='form-group input-group')
                                    input(type='text' class='form-control' placeholder='아이디' id='camp_admin_id' name='camp_admin_id' data-required="true" data-empty="아이디를")
                                    button(type='button' class='btn btn-secondary ml-2' id="chkAdminId") 중복확인
                                div(class='form-group')
                                    input(type='password' class='form-control' placeholder='비밀번호' name='camp_admin_pwd' id='camp_admin_pwd' data-required="true" data-empty="비밀번호를")
                                div(class='form-group')
                                    input(type='password' class='form-control' placeholder='비밀번호 재입력' id='camp_admin_pwd_chk')
                                    p(class='text-danger mt-1 d-none' id='txt-helper-pwd') * 비밀번호가 일치하지 않습니다.
                            li(class='list-group-item')
                                h6 사업자 정보
                                div(class='form-group')
                                    input(type='text' class='form-control' placeholder='대표자명' name='repr_name' data-required="true" data-empty="대표자명을")
                                div(class='form-group')
                                    input(type='text' class='form-control' placeholder='사업자명' name='biz_name' data-required="true" data-empty="사업자명을")
                                div(class='form-group input-group')
                                    input(type='text' class='form-control' placeholder='사업자등록번호' name='biz_num' id='biz_num' data-required="true" data-empty="사업자등록번호를")
                                    button(type='button' class='btn btn-secondary ml-2' id='chkBizNum') 중복확인
                                div(class='text-center')
                                    div(class='img-container')
                                        div(class='img-preview')
                                            img(src='images/image_not_found.svg', alt='business-img', id='busindessImgPreview')
                                        button(type='button', class='btn btn-default mt-2', id='busindessImgBtn') [등록하기]
                                    div(class='form-group')
                                        input(type='file', class='d-none', accept='.jpg, .jpeg, .png', name='biz_cert' data-required="true" data-empty="사업자등록증 사진을 첨부해주세요" data-full="true")
                                div(class='form-group')
                                    input(type='email' class='form-control' placeholder='대표자 이메일' name='repr_email' data-required="true" data-empty="대표이메일을")
                                div(class='form-group')
                                    input(type='text' class='form-control' placeholder='대표자 전화번호' name='repr_num' id='repr_num' data-required="true" data-empty="대표전화번호를")
                            li(class='list-group-item')
                                h6 정산 정보
                                div(class='form-group')
                                    select(class='form-control' name='stlmt_bank')
                                        each item in bankArr
                                            option(value=`${item}`) #{item}
                                div(class='form-group')
                                    input(type='text' class='form-control' placeholder='계좌번호' name='acc_num' id='acc_num' data-required="true" data-empty="계좌번호를")
                                div(class='form-group')
                                    input(type='text' class='form-control' placeholder='예금주' name='acc_name' data-required="true" data-empty="예금주를")
                            li(class='list-group-item border-0')
                                h6 기타 정보
                                div(class='form-group input-group')
                                    input(type='text' class='form-control' placeholder='관광사업(야영장) 등록번호' name='camp_reg_num' id='camp_reg_num' data-required="true" data-empty="관광사업(야영장) 등록번호를")
                                    //- button(type='button' class='btn btn-secondary ml-2' id='campRegNumChk') 중복확인
                                div(class='text-center')
                                    div(class='img-container')
                                        div(class='img-preview')
                                            img(src='images/image_not_found.svg', alt='tour-business-img', id='tourBusindessImgPreview')
                                        button(type='button', class='btn btn-default mt-2', id='tourBusindessImgBtn') [등록하기]
                                    div(class='form-group')
                                        input(type='file', class='d-none', accept='.jpg, .jpeg, .png', name='camp_reg_cert' data-required="true" data-empty="관광사업등록증 사진을 첨부해주세요" data-full="true")
                        div(class='row pt-3 border-top')
                            div(class='col-6')
                                button(type='button' class='btn btn-primary btn-block' id='registerUserBtn') 신청
                            div(class='col-6')
                                button(type='button' class='btn btn-default btn-block' id='prevStepBtn') 취소
                    

        div(class='modal fade', id="termsModal")
            div(class='modal-dialog')
                div(class='modal-content')
                    div(class='modal-header bg-secondary')
                        h4(class='modal-title') 이벤트/마케팅 수신 동의 안내
                        button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                            span(class='text-white' aria-hidden='true') &times;
                    div(class='modal-body')
                        div(class='row text-center pt-3 pb-3')
                            div(class='col-12')
                                p '(주)넥스트에디션' 이 제공하는 '캠핑어게인' 에서는 수집 및 이용에 동의하신 정보를 활용하여, 전자적 전송매체 (sms, 앱 푸시 등)을 통해, 상품 또는 서비스에 대한 개인 맞춤형 광고, 정보를 전송할 수 있습니다.
                            div(class='col-12')
                                p * 본 동의는 거부하실 수 있습니다. 다만 거부 시, 동의를 통해 제공 가능한 각종 우대 서비스, 혜택, 경품 및 이벤트 안내를 받아보실 수 없습니다.
                            div(class='col-12')
                                p 본 수신 동의를 철회하고자 할 경우에는 고객 센터로 문의해주세요.


    block scripts
        //- jQuery
        script(src='/plugins/jquery/jquery.min.js')
        //- Bootstrap
        script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
        //- AdminLTE
        script(src='/js/adminlte/adminlte.js')
        //- OPTIONAL SCRIPTS
        script(src='/js/adminlte/dashboard3.js')
        //- SweetAlert2
        script(src='/plugins/sweetalert2/sweetalert2.min.js')
        //- Date Range Picker
        script(src='/plugins/moment/moment.min.js')
        script(src='/plugins/daterangepicker/daterangepicker.js')
        //- jQuery slimScroll
        script(src='/plugins/jQuery-slimScroll/jquery.slimscroll.min.js')
        //- DataTables
        script(src='/plugins/datatables/jquery.dataTables.min.js')
        script(src='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')
        script(src='/plugins/datatables-responsive/js/dataTables.responsive.min.js')
        script(src='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')
        script(src='/js/apiCall.js')
        script(src='/js/inpFile.js')        
        include includes/scripts/global_script.pug
        
    script.
        
        let idChk = false
        let bizChk = false
        let regNumChk = false

        $('#modalOpenBtn').on('click', function(e) {
            $('#termsModal').modal()
        });
        $('#allCheck').on('click', function(e) {                
            if ($(this).is(":checked")) {
                $('input[name="termsCheck"]').prop("checked", true)
            } else {
                $('input[name="termsCheck"]').prop("checked", false)
            }
        });
        $('input[name="termsCheck"]').on('click', function(e) {
            $('input[name="termsCheck"]').each(function(item) {
                if (!$(item).is(":checked")) {
                    $('#allCheck').prop("checked", false)
                    return false;
                }                    
            })
        })
        $('#nextStepBtn').on('click', function(e) {
            if (!$('input[name="termsCheck"]').eq(0).is(":checked") || !$('input[name="termsCheck"]').eq(1).is(":checked")) {
                return Toast.fire({ heightAuto: false, icon: 'error', title: '필수 약관에 동의해주세요' })
            }

            $('li[name="register-step-tab"]').each(function(index, item) {
                if (index === 0) {
                    $(item).addClass('bg-light')
                    $(item).children().removeClass('active')
                } else {
                    $(item).removeClass('bg-light')
                    $(item).children().addClass('active')
                }
            })
            $('#termsForm').hide()
            $('#userInfoForm').removeClass('d-none')
            $('#userInfoList').slimScroll({
                height: '50vh',
                railVisible: false,                    
                wheelStep: 10,
                allowPageScroll: false,
                disableFadeOut: false
            })
        })
        $('#prevStepBtn').on('click', function(e) {
            $('li[name="register-step-tab"]').each(function(index, item) {
                if (index === 0) {
                    $(item).removeClass('bg-light')
                    $(item).children().addClass('active')                        
                } else {
                    $(item).addClass('bg-light')
                    $(item).children().removeClass('active')
                }
            })
            $('#termsForm').show()
            $('#userInfoForm').addClass('d-none')
            $('#userInfoList').slimScroll({destroy: true});
        })
        
        $('#busindessImgBtn').on('click', function(ev) {        
            $('input[name="biz_cert"]').click();
        });
        $('input[name="biz_cert"]').on('change', function(ev) {
            //- let { files } = ev.target;
            utilGetPreviewImg(ev.target.files, 'busindessImgPreview');
        })
        $('#tourBusindessImgBtn').on('click', function(ev) {        
            $('input[name="camp_reg_cert"]').click();
        });
        $('input[name="camp_reg_cert"]').on('change', function(ev) {
            //- let { files } = ev.target;        
            utilGetPreviewImg(ev.target.files, 'tourBusindessImgPreview');
        });
        $('#camp_admin_pwd').on('keyup change paste', function(e) {
            let pwd = $(this).val();
            let retypePwd = $('#camp_admin_pwd_chk').val();            
            if (retypePwd && pwd !== retypePwd) {
                $('#txt-helper-pwd').removeClass('d-none')
            } else {
                $('#txt-helper-pwd').addClass('d-none')
            }
        });
        $('#camp_admin_pwd_chk').on('keyup change paste', function(e) {
            let pwd = $('#camp_admin_pwd').val();
            let retypePwd = $(this).val();            
            if (pwd !== retypePwd) {
                $('#txt-helper-pwd').removeClass('d-none')
            } else {
                $('#txt-helper-pwd').addClass('d-none')
            }
        })
        $('#biz_num, #repr_num, #acc_num').on('keyup change', function(e) {
            let newVal = $(this).val().replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
            $(this).val(newVal)
        });
        
        $('#chkAdminId').on('click',async function(e){
            const camp_admin_id = $('#camp_admin_id').val()
            if(!regexId.test(camp_admin_id))
                return Toast.fire({ heightAuto: false, icon: 'error', title: '아이디는 영문소문자, 숫자만 포함 적어도 하나가 포함되어야 합니다'})
            await utilGetDataByAPI('/idChk/'+camp_admin_id, function(res){
                console.log('res',res)
                if(res.result==="Duplicate id"){
                    return Toast.fire({ heightAuto: false, icon: 'error', title: '아이디가 중복되었습니다'})
                }
                else{
                    idChk = true
                    return Toast.fire({ heightAuto: false, icon: 'success', title: '사용가능한 아이디입니다'})
                }
            })
        })

        $('#chkBizNum').on('click',async function(e){
            const biz_num = $('#biz_num').val()
            await utilGetDataByAPI('/bizChk/'+biz_num, function(res){
                console.log('res',res)
                if(res.result==="Duplicate biznum"){
                    return Toast.fire({ heightAuto: false, icon: 'error', title: '사업자등록번호가 중복되었습니다'})
                }
                else{
                    bizChk = true
                    return Toast.fire({ heightAuto: false, icon: 'success', title: '사용가능한 사업자등록번호입니다'})
                }
            })
        })

        $('#campRegNumChk').on('click',async function(e){
            const camp_reg_num = $('#camp_reg_num').val()
            await utilGetDataByAPI('/regNumChk/'+camp_reg_num, function(res){
                console.log('res',res)
                if(res.result==="Duplicate camp regnum"){
                    return Toast.fire({ heightAuto: false, icon: 'error', title: '관광사업등록번호가 중복되었습니다'})
                }
                else{
                    regNumChk = true
                    return Toast.fire({ heightAuto: false, icon: 'success', title: '사용가능한 관광사업등록번호입니다'})
                }
            })
        })
        
        $('#registerUserBtn').on('click', async function(ev) {
                
            const validateChk = null_validation('userInfoForm')

            if(validateChk === true){
                //- const biz_num = $('#biz_num').val()
                //- if(!regexNumber.test(biz_num))
                //-     return Toast.fire({ heightAuto: false, icon: 'error', title: '숫자만 입력해주세요'})
                //- const repr_num = $('#repr_num').val()
                //- if(!regexNumber.test(repr_num))
                //-     return Toast.fire({ heightAuto: false, icon: 'error', title: '숫자만 입력해주세요'})
                //- const camp_reg_num = $('#camp_reg_num').val()
                //- if(!regexNumber.test(camp_reg_num))
                //-     return Toast.fire({ heightAuto: false, icon: 'error', title: '숫자만 입력해주세요'})
                //- const acc_num = $('#acc_num').val()
                //- if(!regexNumber.test(acc_num))
                //-     return Toast.fire({ heightAuto: false, icon: 'error', title: '숫자만 입력해주세요'})
                const camp_admin_id = $('#camp_admin_id').val()
                if(!regexId.test(camp_admin_id))
                    return Toast.fire({ heightAuto: false, icon: 'error', title: '아이디는 영문소문자, 숫자만 포함 적어도 하나가 포함되어야 합니다'})
                if(!idChk)
                    return Toast.fire({ heightAuto: false, icon: 'error', title: '아이디 중복 검사를 실행해주세요'})
                if(!bizChk)
                    return Toast.fire({ heightAuto: false, icon: 'error', title: '사업자번호 중복 검사를 실행해주세요'})
                //- if(!regNumChk)
                //-     return Toast.fire({ heightAuto: false, icon: 'error', title: '관광사업등록번호 중복 검사를 실행해주세요'})

                const camp_admin_pwd = $('#camp_admin_pwd').val()
                const camp_admin_pwd_chk = $('#camp_admin_pwd_chk').val()
                if(camp_admin_pwd!==camp_admin_pwd_chk)
                    return Toast.fire({ heightAuto: false, icon: 'error', title: '비밀번호가 일치하지 않습니다'})

                const formData = new FormData($('#userInfoForm')[0])

                if($("#term03").is(":checked"))
                    formData.set("sms_rcpt_or_not","Y")
                else
                    formData.set("sms_rcpt_or_not","N")
                    
                //- if($("#no_pbook_or_not").is(":checked"))
                //-     formData.set("no_pbook_or_not","Y")
                //- else
                //-     formData.set("no_pbook_or_not","N")


                await utilPostDataWithFilesByAPI('/signUp', formData, function(res) {
                    console.log(res)
                    if(res.result===true){
                        Toast.fire({ heightAuto: false, icon: 'success', title: '회원가입 신청 되었습니다'}).then(()=>{window.location.assign('/')})
                    }else{
                        Toast.fire({ heightAuto: false, icon: 'error', title: '등록 중 오류가 발생했습니다'})
                    }
                });
            }
        })

        $('#uploadTestCsv').on('click', function(ev) {        
            $('input[name="excel_test"]').click();
        });

        $('#uploadTestCsvSend').on('click',function(e){
            //- const validateChk = null_validation('zoning-regist-form')
            //- if(validateChk){
                console.log('formdata',$('#termsForm'))
                const formData = new FormData($('#termsForm')[0])
                console.log('formData',formData)    
                utilPostDataWithFilesByAPI('/test/excel', formData, function(res) {
                    console.log(res)
                    //- if(res.result===true){
                    //-     Toast.fire({ icon: 'success', title: '등록 되었습니다'}).then(()=>{window.location.assign('/zoning/list')})
                    //- }else if(res.errorMessage){
                    //-     if(res.errorMessage==='empty value exists')
                    //-         Toast.fire({ icon: 'error', title: '엑셀에 빈 값이 있습니다'})    
                    //- }else{
                    //-     Toast.fire({ icon: 'error', title: '등록 중 오류가 발생했습니다'})
                    //- }
                });
            //- }
        })

                    