extends ../layout

append content
    div(class='content-wrapper')
        include ../includes/content_header.pug
        div(class='content')
            div(class='container-fluid')            
                div(class='row')
                    div(class='col-md-12')
                        div(class='card card-secondary')
                            div(class='card-header')
                                h3(class='card-title') 회원정보 상세페이지
                                div(class='card-tools')
                                    button(type='button', class='btn btn-tool', data-card-widget='collapse', data-toggle='tooltip', title='Collapse')
                                        i(class='fas fa-minus')
                            //- .card-header
                            div(class='card-body scroll-container')
                                include ./form/regist_form.pug
                            //- .card-body
                            div(class='card-footer text-center')
                                button(type='button', class='btn btn-primary btn-lg', id='updateCampBtn') 수정
                            //- .card-footer
                        //- .card
                    //- .col-md-12
                //- .row
            //- .content-fluid
        //- .content        
        include ../includes/modal/manage_pause_modal.pug
        +modal('비밀번호 변경','changePwdModal','changePwdModalBtn','modal-md')
            div(class='container-fluid')
                div(class='row')
                    div(class='col-md-12')
                        div(class='card card-secondary')
                            div(class='card-header')
                                h3(class='card-title' id='detail-resv_name') 비밀번호 변경
                                div(class='card-tools')
                                    button(type='button', class='btn btn-tool', data-card-widget='collapse', data-toggle='tooltip', title='Collapse')
                                        i(class='fas fa-minus')
                            //- .card-header
                            div(class='card-body scroll-container')           
                                div(class='form-group row')
                                    label(class='col-sm-3 col-form-label bg-lightblue rounded') 현재 비밀번호
                                    div(class='col-sm-9')
                                        input(type="password", id="curPwd", class="form-control")
                                div(class='form-group row')
                                    label(class='col-sm-3 col-form-label bg-lightblue rounded') 변경 비밀번호
                                    div(class='col-sm-9')
                                        input(type="password", id="newPwd", class="form-control")
                                div(class='form-group row')
                                    label(class='col-sm-3 col-form-label bg-lightblue rounded') 비밀번호 확인
                                    div(class='col-sm-9')
                                        input(type="password", id="newPwdChk", class="form-control")
                               
append scripts
    include ./scripts/regist_script.pug
