mixin modal(title, modalId, btnId, size)
    div(class='modal fade', id=`${modalId}`)
        div(class=`modal-dialog ${size}`)
            div(class='modal-content')
                div(class='modal-header')
                    h4(class='modal-title') #{title}
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                div(class='modal-body')              
                    block

                div(class='modal-footer', style='display: flex; justify-content: center')
                    button(type='button', class='btn btn-primary', id=`${btnId}`) 설정
                    button(type='button', class='btn btn-default', data-dismiss='modal') 닫기
            //- .modal-content        
        //- .modal-dialog    
    //- .modal