extends ../layout

block append content
    div(class='content-wrapper')
        include ../includes/content_header.pug

        div(class='content')
            div(class='container-fluid')
                div(class='row')
                    div(class='col-md-12')
                        div(class='card', style="height: 80vh")
                            div(class='card-header border-0') 페이지를 찾을 수 없습니다    
                                                            