extends ../layout

block append content
    div(class='content-wrapper')
        include ../includes/content_header.pug

        div(class='content')
            div(class='container-fluid')
                div(class='row')
                    div(class='col-md-12')
                        div(class='card card-secondary')                            
                            div(class='card-body')                                
                                div(class='error-page')
                                    h2(class='headline')
                                        i(class='fas fa-exclamation-triangle text-warning')
                                    div(class='error-content')
                                        h3 서비스 준비 중입니다.                                        
                                        p 서비스 이용에 불편을 드려 죄송합니다.<br/>이전 페이지로 다시 돌아가시려면 <strong>아래 버튼</strong>을 눌러주세요.
                                        button(type='button' class='btn btn-primary' onclick="history.back()") 돌아가기
                                                            